<!DOCTYPE html>
<html>
    <head>
        <title>{{document/title}}</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="{{layoutPath}}styles.css" media="all" />
        <link rel="stylesheet" href="{{resolve 'highlight.js' file='styles/github.css'}}" media="all" />
        <link rel="stylesheet" href="{{resolve 'katex' file='dist/katex.min.css'}}" media="all"/>
        <script type="text/javascript" src="{{resolve 'jquery' file='dist/jquery.min.js'}}"></script>
        <script type="text/javascript" src="{{layoutPath}}script.js"></script>
    </head>
    <body id="content" onload="contentLoad()">
        {{{markdown}}}

        {{#unless (isEmpty layoutData/captions)}}
            {{#unless (isEmpty meta/captions)}}
                <h1>{{i18n 'Miscellaneous'}}</h1>
                <p>{{i18n 'MiscellaneousDescription'}}</p>
            {{/unless}}
        {{/unless}}

        {{#each layoutData/captions as |caption|}}
            {{#if (lookup ../meta/captions caption)}}
                <h2>{{i18n (concat 'Captions.' caption)}}</h2>
                <ul>
                    {{#each (lookup ../meta/captions caption)}}
                        <li>
                            <a href="#{{link}}">
                                {{index}}. {{title}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </body>
</html>