<html>
    <head>
        <link rel="stylesheet" href="{{layoutPath}}styles.css" media="all" />
        <link rel="stylesheet" href="{{layoutPath}}../../node_modules/highlight.js/styles/github.css" media="all" />
        <script type="text/javascript" src="{{layoutPath}}jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{layoutPath}}script.js"></script>
        <title>{{document/title}}</title>
    </head>
    <body id="content" onload="contentLoad()">
        {{{markdown}}}
    </body>
</html>