<html>
    <head>
        <link rel="stylesheet" href="{{layoutPath}}document.css">
        <script type="text/javascript">
            var PhantomJSPrinting = {
                header: {
                    height: "1cm",
                    contents: function(pageNum, numPages) { 
                        return pageNum + "/" + numPages; 
                    }
                },
                footer: {
                    height: "1cm",
                    contents: function(pageNum, numPages) { 
                        return pageNum + "/" + numPages; 
                    }
                }
            };
        </script>
    </head>
    <body>
        {{{markdown}}}
    </body>
</html>