<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{layoutPath}}document.css" media="all" />
        <link rel="stylesheet" href="{{layoutPath}}../node_modules/highlight.js/styles/github.css" media="all" />
        <script type="text/javascript">
            var PhantomJSPrinting = {
                header: {
                    height: "1cm",
                    contents: function(pageNum, numPages) {
                        if (pageNum == 1) {
                            return '';
                        }

                        return '<div class="header">'
                                + '<span class="header-title">{{document/title}}</span>'
                                + '<span class="header-author">{{document/authors}}</span>'
                                + '<hr />'
                                + '<span class="header-subject">{{document/subject}}</span>'
                             + '</div>';
                    }
                },
                footer: {
                    height: "1cm",
                    contents: function(pageNum, numPages) { 
                        if (pageNum == 1) {
                            return '';
                        }

                        return '<div class="footer">'
                                + '<span class="footer-copyright">Copyright &copy; {{document/authors}}</span>'
                                + '<span class="footer-pages">Page ' + pageNum + " of " + numPages + '</span>'
                                + '<span class="footer-subject">{{document/data/location}}, {{document/date}}</span>'
                             + '</div>';

                        return pageNum + "/" + numPages; 
                    }
                }
            };
        </script>
    </head>
    <body>
        {{{markdown}}}
    </body>
</html>